{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="section testimonials__v2" id="testimonials">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center"><span class="subtitle text-uppercase mb-3" data-aos="fade-up" data-aos-delay="0">Testimonials</span>
				<h2 class="mb-3" data-aos="fade-up" data-aos-delay="100">What Our Users Are Saying</h2>
				<p data-aos="fade-up" data-aos-delay="200">Real Stories of Success and Satisfaction from Our Diverse Community</p>
			</div>
		</div>
		<div class="row g-4" data-masonry="{&quot;percentPosition&quot;: true }">
			<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<div class="testimonial rounded-4 p-4">
					<blockquote class="mb-3">
						 &ldquo;
						This platform has completely transformed the way I manage my business finances. The real-time transaction tracking and seamless payment options have saved me so much time and effort!
						&rdquo;
					</blockquote>
					<div class="testimonial-author d-flex gap-3 align-items-center">
						<div class="author-img"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/animal-7024080_640.png') }}" alt="Pixabay"></div>
						<div class="lh-base"><strong class="d-block">John Davis</strong><span>Small Business Owner</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
				<div class="testimonial rounded-4 p-4">
					<blockquote class="mb-3">
						 &ldquo;
						As a freelancer, managing my finances can be overwhelming. The budgeting tools and personalized insights have made it so much easier to stay on top of my expenses and plan for the future.
						&rdquo;
					</blockquote>
					<div class="testimonial-author d-flex gap-3 align-items-center">
						<div class="author-img"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/animal-2023924_640.png') }}" alt="Pixabay"></div>
						<div class="lh-base"><strong class="d-block">Emily Smith</strong><span>Freelancer</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
				<div class="testimonial rounded-4 p-4">
					<blockquote class="mb-3">
						 &ldquo;
						The investment options and portfolio management tools on this platform are top-notch. The variety of choices caters to all types of investors, from conservative to aggressive. I especially appreciate how the tailored recommendations align perfectly with my financial goals. It’s a game-changer for anyone serious about growing their wealth.
						&rdquo;
					</blockquote>
					<div class="testimonial-author d-flex gap-3 align-items-center">
						<div class="author-img"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/fractal-1682196_640.png') }}" alt="Pixabay"></div>
						<div class="lh-base"><strong class="d-block">Michael Rodriguez</strong><span>Investor</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<div class="testimonial rounded-4 p-4">
					<blockquote class="mb-3">
						 &ldquo;
						I never thought managing money could be this simple! The user-friendly interface and secure transaction process give me the confidence to handle my finances independently.
						&rdquo;
					</blockquote>
					<div class="testimonial-author d-flex gap-3 align-items-center">
						<div class="author-img"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/animal-7024108_640.png') }}" alt="Pixabay"></div>
						<div class="lh-base"><strong class="d-block">Sarah Lee</strong><span>College Student</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
				<div class="testimonial rounded-4 p-4">
					<blockquote class="mb-3">
						 &ldquo;
						The security features are outstanding. Knowing that my financial data is protected gives me peace of mind, and the platform's efficiency makes it a pleasure to use.
						&rdquo;
					</blockquote>
					<div class="testimonial-author d-flex gap-3 align-items-center">
						<div class="author-img"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/magic-potion-10050254_1920.png') }}" alt="Pixabay"></div>
						<div class="lh-base"><strong class="d-block">James Kim</strong><span>IT Consultant</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
				<div class="testimonial rounded-4 p-4">
					<blockquote class="mb-3">
						 &ldquo;
						The platform’s intuitive design and robust features have been a game-changer for my startup. It’s helped me streamline operations and focus on growing my business.
						&rdquo;
					</blockquote>
					<div class="testimonial-author d-flex gap-3 align-items-center">
						<div class="author-img"><img class="rounded-circle img-fluid" src="{{ url_for('static', filename='images/panda-659186_640.png') }}" alt="Pixabay"></div>
						<div class="lh-base"><strong class="d-block">Larry Brown</strong><span>Entrepreneur</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}